name: linux ntfs test CI

on:
  push:
    branches:
    - main
    - ntfs-next
  pull_request:
    branches:
    - main
    - ntfs-next

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install package for kernel build
      run: |
        sudo lsb_release -a
        sudo uname -r
        sudo apt-get update
        sudo apt-get install libelf-dev wget tar gzip
        sudo apt-get remove libntfs-3g89 ntfs-3g
        #    - name: download kernel
        #      run: wget --no-check-certificate https://mirrors.edge.kernel.org/pub/linux/kernel/v5.x/linux-5.4.109.tar.gz
        #    - name: decompress kernel source
        #      run: tar xf linux-5.4.109.tar.gz
        #    - name: ntfs build test on linux 5.4 kernel
        #      run: |
        #        rm -rf linux-5.4.109/fs/ntfs/*
        #        mv linux-5.4.109 ../
        #        cp -ar * ../linux-5.4.109/fs/ntfs/
        #        cd ../linux-5.4.109/
        #        yes "" | make oldconfig > /dev/null
        #        echo 'CONFIG_NTFS_FS=m' >> .config
        #        make -j$((`nproc`+1)) fs/ntfs/ntfs.ko
        #        cd ../linux-ntfs
    - name: Prerequisite for xfstests testing
      run: |
        sudo apt-get install linux-headers-$(uname -r)
        sudo apt-get install autoconf libtool pkg-config libnl-3-dev libnl-genl-3-dev
        sudo apt-get install xfslibs-dev uuid-dev libtool-bin xfsprogs libgdbm-dev gawk fio attr libattr1-dev libacl1-dev libaio-dev
        sudo apt-get install libgcrypt20-dev
        git clone https://github.com/namjaejeon/exfat-testsuites
        git clone https://github.com/ntfsprogs-plus/ntfsprogs-plus
        export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
        export PATH=/usr/local/lib:$PATH
        sudo useradd fsgqa
        sudo useradd 123456-fsgqa
    - name: Run xfstests testsuite
      run: |
        uname -r
        make > /dev/null
        sudo make install > /dev/null
        sudo insmod ntfs.ko
        cd ntfsprogs-plus
        ./autogen.sh > /dev/null
        ./configure > /dev/null
        make -j$((`nproc`+1)) > /dev/null
        sudo make install > /dev/null
        cd ..
        rm -rf ntfsprogs-plus
        sudo mkdir -p /mnt/scratch
        sudo mkdir -p /mnt/test
        sudo mkdir -p full_test
    - name: xfstest tests 4K cluster size
      if: always()
      run: |
        truncate -s 100G test.img
        truncate -s 100G scratch.img
        sudo losetup /dev/loop20 test.img
        sudo losetup /dev/loop21 scratch.img
        sudo mkfs.ntfs /dev/loop20
        sudo mkfs.ntfs /dev/loop21
        cd exfat-testsuites/
        tar xzvf xfstests-exfat.tgz > /dev/null
        rm xfstests-exfat.tgz
        cd xfstests-exfat
        cp local.config.ntfs local.config
        make -j$((`nproc`+1)) > /dev/null
        echo 'FSTYP=ntfs' >> local.config
        chmod +x ../../run_tests.sh
        sudo ../../run_tests.sh
    - uses: actions/upload-artifact@v4
      if: always()
      with:
              name: xfs_results
              path: /home/runner/work/linux-ntfs/linux-ntfs/exfat-testsuites/xfstests-exfat/results/generic/
